version: '3.8'

services:
  mongo:
    image: mongo:8.0
    container_name: muchtodo-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    networks:
      - app-network

  backend:
    build:
      context: .
      dockerfile: Dockerfile      
    container_name: muchtodo-api
    restart: always
    ports: 
      - "3000:3000" 
    depends_on: 
      - mongo
    volumes:
      - ./.env:/app/.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data: 
