apiVersion: v1
kind: Service
metadata: 
  name: backend-service
  namespace: muchtodo-ns
spec:
  selector:
    app: backend
  type: NodePort
  ports: 
    - port: 3000
      targetPort: 3000
      nodePort: 30080
