apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: muchtodo-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: muchtodo-backend:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
        
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        
        volumeMounts:
        - name: config-volume
          mountPath: /app/.env
          subPath: .env
      
      volumes:
      - name: config-volume
        secret:
          secretName: backend-secrets
          items:
          - key: .env
            path: .env
